/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log

/spec/docker.log
/spec/examples.txt
/spec/known_hosts.valid
/spec/known_hosts.invalid
/spec/reports/
